= simple_form_for(@story, wrapper_mappings:{    radio_buttons:  :vertical_collection}) do |f|
  = f.error_notification
  = f.input :title, input_html: { placeholder: 'Give a cool title to your story' }
  = f.input :country, label: 'Country', collection: CountryStateSelect.countries_collection
  = f.input :state, CountryStateSelect.state_options(label: 'State / Province', form: f, field_names: { :country => :country, :state => :home_state } )
  = f.input :city, CountryStateSelect.city_options(label: 'City', form: f, field_names: {  :state => :state, :city => :home_city } )
  = f.input :weather_season,  as: :radio_buttons, collection: Story.weather_seasons.keys, required: true
  = f.input :type_of_experience, as: :radio_buttons, collection: Story.type_of_experiences.keys, required: true

  %br/
  = f.input :body, as: :text, label: 'Story', rows: 5
  %br/
  = f.button :submit, class: 'btn btn-primary'

  = link_to 'Cancel', stories_path, class: 'btn btn-danger'
  
    