-# .sidenav
-#   .login-main-text
-#     %h2
-#       Application
-#       %br/
-#       Login Page
-#     %p Login or register from here to access.
-# .main
-#   .col-md-6.col-sm-12
-#     .login-form
-#       %form
-#         .form-group
-#           %label User Name
-#           %input.form-control{:placeholder => "User Name", :type => "text"}/
-#         .form-group
-#           %label Password
-#           %input.form-control{:placeholder => "Password", :type => "password"}/
-#         %button.btn.btn-black{:type => "submit"} Login
-#         %button.btn.btn-secondary{:type => "submit"} Register





.main-container
  .wrapper
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name),  html: { class: 'horizontal_form login' }) do |f|
      %p.title Log in
      = f.error_notification
      = f.email_field :email, autofocus: true, placeholder: "Email"
      = fa_icon 'user'
      = f.password_field :password, placeholder: "password"
      = fa_icon 'key'
      = link_to('Forgot your password?', new_user_password_path, id:"forget-password", class:"forget-password")
      .field
        = f.input :remember_me, wrapper: :inline_boolean, as: :boolean  if devise_mapping.rememberable?
      = f.button :button, 'Log in'